<div class="container-fluid   site-wrapper mb-md-3 eslami-img">
    <div class="container">
        <div class="row">
            <div class="col-12" style="margin-top:100px;">
                <div class="row">
                    <div class="col text-center">
                        <h1 class="about-text-1">{{"contact"|translate}}</h1>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-2">
                <div class="row">
                    <div class="col"></div>
                    <div class="col-4 text-center about-card pt-2 ">
                        <div class="row d-flex justify-content-around">
                            <div class="col-auto ms-2">
                                <a class="text-decoration-none" href="">
                                    <i class="fas fa-home"></i>
                                    {{"home"|translate}}
                                </a>
                            </div>
                            <div class="col">
                                <i class="fas fa-angle-double-right"></i>
                            </div>
                            <div class="col-auto">{{"contact"|translate}}</div>
                        </div>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div id="t3-mainbody" class="container t3-mainbody">
    <div class="row">

        <!-- MAIN CONTENT -->
        <div id="t3-content" class="t3-content col-xs-12 col-sm-8  col-md-8">

            <!-- //MAIN TOP  -->


            <!-- Page header -->
            <!-- // Page header -->
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2883.6553233166296!2d-79.31663758465595!3d43.717711579119076!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d4cdb796937aa1%3A0x4557fafb59ea3f73!2s120%20Bermondsey%20Rd%2C%20North%20York%2C%20ON%20M4A%201X5%2C%20Canada!5e0!3m2!1sen!2sde!4v1643373949676!5m2!1sen!2sde"
                width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

            <!-- submain -->

            <!-- //submain -->

        </div>
        <!-- //MAIN CONTENT -->

        <!-- SIDEBAR RIGHT -->
        <div class="t3-sidebar t3-sidebar-right col-xs-12 col-sm-4  col-md-4 ">
            <div class="t3-module module " id="Mod262">
                <div class="module-inner reveal-effect wow" style="visibility: visible;">
                    <div class="module-ct">

                        <div class="custom reveal-effect wow" style="visibility: visible;">
                            <p class=""><img src="../../assets/images/firstimage.jpg" alt="" width="414" height="233"
                                    class=""></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="t3-module module " id="Mod263">
                <div class="module-inner reveal-effect wow" style="visibility: visible;">
                    <div class="module-ct">

                        <div class="custom reveal-effect wow" style="visibility: visible;">
                            <p class="">120 Bermondsey Road, Toronto, ON Canada<br class=""> <br class=""><i
                                    class="fa fa-phone-square"></i> General : 416-836-9222 <br class=""><i
                                    class="fa fa-phone-square"></i> Funeral : 416-918-6950 <br class=""><i
                                    class="fa fa-phone-square"></i> Cultural Affairs : 416-473-4254</p>
                            <p class=""> @ImamAlicanada</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- //SIDEBAR RIGHT -->

    </div>
</div>