    <!-- section 1 (eslami img and home button) -->
    <div class="container-fluid   site-wrapper mb-md-3 eslami-img">
        <div class="container">
            <div class="row">
                <div class="col-12" style="margin-top:100px;">
                    <div class="row">
                        <div class="col"></div>
                        <div class="col-5 text-center">
                            <h1 class="about-text-1">درباره ما</h1>
                        </div>
                        <div class="col"></div>
                    </div>
                </div>
                <div class="col-12 mt-2">
                    <div class="row">
                        <div class="col"></div>
                        <div class="col-4 text-center about-card pt-2 ">
                            <div class="row d-flex justify-content-around">
                                <div class="col-auto ms-2">
                                    <a class="text-decoration-none" href="">
                                        <i class="fas fa-home"></i>
                                       خانه 
                                    </a> 
                                </div>
                                <div class="col">
                                    <i class="fas fa-angle-double-right"></i>
                                </div>
                                <div class="col-auto">درباره ی ما</div>
                            </div>
                        </div>
                        <div class="col"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <h4>در باره ما</h4>
        <p>به دنبال گسترش و رشد روزافزون جامعه ايراني مقيم شهر تورنتو و حومه، ضرورت ايجاد موسسه‌اي كه قادر به براوردن نيازهاي مذهبي و فرهنگي هم‌ميهنان گرانقدر باشد، همواره مشهود بوده است. در راستاي پاسخگويي به اين نياز مركز ايراني اسلامي امام علي (ع) با توكل به عنايات خداوند مهربان و با اميد به پشتياني معنوي و مادي ايرانيان بدون هرگونه وابستگي سياسي،‌ در فوریه 2000 میلادی در محل كنوني توسط دکتر سید محمد کاظم مصباح موسوی و با همکاری همسرشان، خانم آمنه متقی تاسيس گرديد.</p>
        <p>وجود چنين مركزي به عنوان يك پايگاه اجتماعي براي پاسخگويي به نيازهاي ديني و اجتماعي هم‌ميهنان عزيز در كانادا بي‌سابقه بوده است. اين پايگاه در مدت كوتاه فعاليت خود توانسته به عنوان يك تكيه‌گاه معنوي و ديني براي ايرانيان عزيز عمل كند و پاسخگوي بسياري از نيازهاي اجتماعي و روحي آنان باشد. براي مردمي كه درديار غربت و دور از ريشه‌هاي فرهنگي و اجتماعي، كه در آن بزرگ شده‌اند، زندگي مي‌كنند اين امكان مي‌تواند موهبتي بزرگ به حساب آيد و فرصتي باشد تا بتوانند فرزندان خويش را با تعاليم روحبخش اسلام و فرهنگ غني ايراني بيشتر آشنا كنند.</p>
        <p>مركز ايراني اسلامي امام علي (ع) در جهت برآوردن نيازهاي ديني و فرهنگي جامعه ايرانيان اهداف گوناگوني را دنبال مي‌كند. برخي از اين اهداف در دست اقدام، و برخي ديگر از برنامه‌هاي دراز مدت اين مركز مي‌باشند. اهداف در دست اقدام در قالب خدمات فرهنگي و اجتماعي جزء برنامه‌هاي جاري مركز مي‌باشند، كه با حضور و شركت داوطلبانه بي‌نظير ايرانيان عزيز به صورت هفتگي در محل موسسه برگزار مي‌شوند. گسترش روزافزون توجه و حمايت بيدريغ هموطنان گرامي و ساير مسلمانان از خدمات مركز و حضور مستمر و چشمگير آنها عامل اصلي موفقيت بوده است.</p>
        <br>
        <h5>اهداف</h5>
        <p>اهداف دراز مدت به صورت طرح‌هاي در دست مطالعه در اختيار متخصصين و مشاوران مركز مي‌باشند. مركز ايراني اسلامي امام علي (ع) از همكاري و همفكري عده قابل توجهي از متخصصان، پزشكان، مهندسين، و بازرگانان بهره‌مند است. اين عده بطور داوطلبانه همكاري خود را در غالب مشاوره و اجرا در گروه‌هاي مختلف تصميم گيري و اجرايي دنبال مي‌كنند
            همچنين با ادامه شكل گيري اين فعاليت‌ها و با توجه به موفقيت مركز در ارائه خدمات مورد نظر لزوم پشتيباني و حمايت مالي از برنامه‌ها امري اجتناب ناپذير بوده است. بويژه آنكه اين موسسه تنها به حمايت‌هاي مالي اشخاص خير و نيكوكار متكي بوده و از هيچ منبع ديگري تامين نمي‌شود.</p>
        <br>
    </div>
    <!-- section 2 cards -->
    <div class="container my-5">
        <div class="row">
            <div class=" col-12 col-md-3 d-flex justify-content-center">
                <div class="">
                    <div class="row  about-card-2 ">
                        <div class="col-12 text-center d-flex justify-content-center my-2">
                            <div class="link-container about-circle-2">
                                <a class="text-center text-decoration-none  about-circle-text" href="">خدمات</a>
                            </div>
                        </div>
                        <div class="col-12 my-1">
                            <h5 class="border-bottom pb-1">
                                <p>
                                   Service 
                                </p>
                            </h5>
                            
                        </div>
                        <div class="col-12">
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                        </div>
                        <div class="col-12 my-1">
                            <a class="button-more">اطلاعات بیشتر</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" col-12 col-md-3 d-flex justify-content-center">
                <div class="">
                    <div class="row  about-card-2 mt-2 mt-md-0">
                        <div class="col-12 text-center d-flex justify-content-center my-2">
                            <div class="link-container about-circle-2">
                                <a class="text-center text-decoration-none  about-circle-text" href="">معنویت</a>
                            </div>
                        </div>
                        <div class="col-12 my-1">
                            <h5 class="border-bottom pb-1">
                                <p>
                                   Lived Spirituality 
                                </p>
                            </h5>
                            
                        </div>
                        <div class="col-12">
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                        </div>
                        <div class="col-12 my-1">
                            <a class="button-more">اطلاعات بیشتر</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="  col-12 col-md-3 d-flex justify-content-center">
                <div class="">
                    <div class="row  about-card-2 mt-2 mt-md-0">
                        <div class="col-12 text-center d-flex justify-content-center my-2">
                            <div class="link-container about-circle-2">
                                <a class="text-center text-decoration-none  about-circle-text" href="">فرهنگ</a>
                            </div>
                        </div>
                        <div class="col-12 my-1">
                            <h5 class="border-bottom pb-1">
                                <p>
                                   Community
                                </p>
                            </h5>
                            
                        </div>
                        <div class="col-12">
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                        </div>
                        <div class="col-12 my-1">
                            <a class="button-more">اطلاعات بیشتر</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" col-12 col-md-3 d-flex justify-content-center">
                <div class="">
                    <div class="row  about-card-2 mt-2 mt-md-0">
                        <div class="col-12 text-center d-flex justify-content-center my-2">
                            <div class="link-container about-circle-2">
                                <a class="text-center text-decoration-none  about-circle-text" href="">علم</a>
                            </div>
                        </div>
                        <div class="col-12 my-1">
                            <h5 class="border-bottom pb-1">
                                <p>
                                   Knowledge
                                </p>
                            </h5>
                            
                        </div>
                        <div class="col-12">
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                        </div>
                        <div class="col-12 my-1">
                            <a class="button-more">اطلاعات بیشتر</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
