        <div class="navbar-light position-fixed  header-compo" style="width: 100%;">
            <div class="container-fluid headerMenu">
                <nav class="navbar navbar-expand-lg navbar-light bg_light  ">
                    <div class="container-fluid ">
                      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon "></span>
                      </button>
                        <img class="header-logo" src="assets/logo-imam-persian.png" alt="">

                      <div class="collapse navbar-collapse" id="navbarSupportedContent " [ngbCollapse]="isCollapsed" >
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0  ps-lg-5">
                            <!-- <a class="nav-link dropdown-toggle" (click)="Collapse = !Collapse"  id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              {{"chooselang"|translate}}
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown" [ngbCollapse]="Collapse"> -->
                              <!-- <li> -->
                             <!-- </li>
                              <li></li> -->
                            <!-- </ul> -->
                          <li class="nav-item ms-2 button-menu ">
                             <a class="nav-link active" aria-current="page" [routerLink]="lang+'/home'">{{"home"|translate}}</a>
                          </li>
                          <li class="nav-item button-menu">
                            <a class="nav-link " [routerLink]="lang+'/about-us'">{{ "about"|translate}}</a>
                          </li>
                          <li class="nav-item button-menu">
                            <a class="nav-link" [routerLink]="lang+'/events'">{{ "events"|translate}}</a>
                          </li>
                          <li class="nav-item dropdown button-menu">
                            <a class="nav-link dropdown-toggle" (click)="isCollapse = !isCollapse"  id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              {{ "education"|translate}}
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown" [ngbCollapse]="isCollapse">
                              <li><a class="dropdown-item" [href]="'https://www.hodamagazine.com'">{{ "hodamag"|translate}}</a></li>
                              <li><a class="dropdown-item" [routerLink]="lang+'/classes'">{{ "classes"|translate}}</a></li>
                              <li><a class="dropdown-item" [routerLink]="lang+'/lectures'">{{ "lectures"|translate}}</a></li>
                            </ul>
                          </li>
                          <li class="nav-item button-menu">
                            <a class="nav-link" [routerLink]="lang+'/services'">{{ "services"|translate}}</a>
                          </li>
                          <li class="nav-item button-menu">
                            <a class="nav-link" [routerLink]="lang+'/contact-us'">{{ "contact"|translate}}</a>
                          </li>
                         
                          <li class="nav-item dropdown button-menu">
                            <a class="nav-link dropdown-toggle" (click)="isCollapseble = !isCollapseble"  id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              {{ "lang"|translate}}
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown" [ngbCollapse]="isCollapseble">
                              <li class="nav-item " >

                                <a class="btn " queryParamsHandling="merge"
                                routerLink="/fa/{{currentUrl}}"
                                (click)="changeLanguage('fa')"
                                routerLinkActive="active" ><img src="../../../assets/images/iran.png" style="height: 26px;margin: 0 5px;" alt=""> فارسی</a>
                              </li> <li class="nav-item " >
                                <a class="btn " 
                                queryParamsHandling="merge"
                                routerLink="/ca/{{currentUrl}}"
                                (click)="changeLanguage('ca')"
    
                                routerLinkActive="active" >english<img src="../../../assets/images/canada.png" style="height: 26px;margin: 0 5px;"  alt=""></a>
                              
                              </li> </ul>
                            <!-- <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-center ">
                              <li class="nav-item " >
                                <a class="btn " queryParamsHandling="merge"
                                routerLink="/fa/{{currentUrl}}"
                                (click)="changeLanguage('fa')"
                                routerLinkActive="active" ><img src="../../../assets/images/iran.png" style="height: 26px;margin: 0 5px;" alt=""></a>
                              </li> <li class="nav-item " >
                                <a class="btn " 
                                queryParamsHandling="merge"
                                routerLink="/ca/{{currentUrl}}"
                                (click)="changeLanguage('ca')"
    
                                routerLinkActive="active" ><img src="../../../assets/images/canada.png" style="height: 26px;margin: 0 5px;"  alt=""></a>
                              
                              </li>
                            </ul> -->
                          </li>
                          <li class="nav-item  ">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-center ps-lg-5">
                              <li class="nav-item  header-button-help " >
                                <a class="nav-link d-flex justify-content-start" [routerLink]="lang+'/donate'">
                                  <p class="">{{ "donate"|translate}}</p>
                                  <i class="fas fa-hand-holding-heart pt-1"></i>
                                </a>
                              </li>
                            </ul>

                          </li>
                        </ul>
                      </div>
                    </div>
                  </nav> 
            </div>
        </div>
