<div class="container-fluid   site-wrapper mb-md-3 eslami-img">
    <div class="container">
        <div class="row">
            <div class="col-12" style="margin-top:100px;">
                <div class="row">
                    <div class="col"></div>
                    <div class="col-5 text-center">
                        <h1 class="about-text-1">درباره ما</h1>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
            <div class="col-12 mt-2">
                <div class="row">
                    <div class="col"></div>
                    <div class="col-4 text-center about-card pt-2 ">
                        <div class="row d-flex justify-content-around">
                            <div class="col-auto ms-2">
                                <a class="text-decoration-none" href="">
                                    <i class="fas fa-home"></i>
                                   خانه 
                                </a> 
                            </div>
                            <div class="col">
                                <i class="fas fa-angle-double-right"></i>
                            </div>
                            <div class="col-auto">درباره ی ما</div>
                        </div>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container">
    
</div>