<div class="container-fluid   site-wrapper mb-md-3 eslami-img">
    <div class="container">
        <div class="row">
            <div class="col-12" style="margin-top:100px;">
                <div class="row">
                    <div class="col"></div>
                    <div class="col-5 text-center">
                        <h1 class="about-text-1">{{"lectures"|translate}}</h1>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
            <div class="col-12 mt-2">
                <div class="row">
                    <div class="col"></div>
                    <div class="col-4 text-center about-card pt-2 ">
                        <div class="row d-flex justify-content-around">
                            <div class="col-auto ms-2">
                                <a class="text-decoration-none" href="">
                                    <i class="fas fa-home"></i>
                                    {{"home"|translate}}
                                </a> 
                            </div>
                            <div class="col">
                                <i class="fas fa-angle-double-right"></i>
                            </div>
                            <div class="col-auto">{{"lectures"|translate}}</div>
                        </div>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container ">
<div class="row  justify-content-md-between pb-3">
    <div class="col-12 col-md-4  ">
        <div class="card home-card" style="margin-top: 16px;">
            <img class="card-img-top" src="../../assets/images/quran-interpretation.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{"lectursubject1"|translate}}</h5>
                <p class="card-text pb-2"></p>
                <a routerLink="quranrecitation" class="button-more">{{"moreknow"|translate}}</a>
            </div>
            </div>
    </div>
    <div class="w-100 d-md-none"></div>
    <div class="col-12 col-md-4 ">
        <div class="card home-card" style="margin-top: 16px;">
            <img class="card-img-top" src="../../assets/images/nahjul-balagha.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{"lectursubject2"|translate}}</h5>
                <p class="card-text pb-2"></p>
                <a routerLink="nahjolbalagha" class="button-more">{{"moreknow"|translate}}</a>
            </div>
            </div>
    </div>
    <div class="w-100 d-md-none"></div>
        <div class="col-12 col-md-4  ">
            <div class="card home-card" style="margin-top: 16px;">
                <img class="card-img-top" src="../../assets/images/Q-A.jpg" alt="Card image cap">
                <div class="card-body ">
                <h5 class="card-title">{{"lectursubject3"|translate}}</h5>
                <p class="card-text pb-2 "></p>
                <a routerLink="question" class="button-more ">{{"moreknow"|translate}}</a>
                </div>
            </div>
        </div>
    </div>
</div>