    <!-- section 1 (eslami img and home button) -->
    <div class="container-fluid   site-wrapper mb-md-3 eslami-img">
        <div class="container">
            <div class="row">
                <div class="col-12" style="margin-top:100px;">
                    <div class="row">
                        <div class="col"></div>
                        <div class="col-5 text-center">
                            <h1 class="about-text-1">{{"services"|translate}}</h1>
                        </div>
                        <div class="col"></div>
                    </div>
                </div>
                <div class="col-12 mt-2">
                    <div class="row">
                        <div class="col"></div>
                        <div class="col-4 text-center about-card pt-2 ">
                            <div class="row d-flex justify-content-around">
                                <div class="col-auto ms-2">
                                    <a class="text-decoration-none" href="">
                                        <i class="fas fa-home"></i>
                                        {{"home"|translate}}
                                    </a> 
                                </div>
                                <div class="col">
                                    <i class="fas fa-angle-double-right"></i>
                                </div>
                                <div class="col-auto">{{"services"|translate}}</div>
                            </div>
                        </div>
                        <div class="col"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <h4>{{"COMMUNITYSERVICES"|translate}}</h4>
        <mdb-accordion [multiple]="true">
            <mdb-accordion-item>
              <ng-template mdbAccordionItemHeader>{{"community1"|translate}}</ng-template>
              <ng-template mdbAccordionItemBody>{{"community2"|translate}}
              </ng-template>
            </mdb-accordion-item>
            <mdb-accordion-item>
              <ng-template mdbAccordionItemHeader>{{"community3"|translate}}</ng-template>
              <ng-template mdbAccordionItemBody>{{"community4"|translate}}
              </ng-template>
            </mdb-accordion-item>
          </mdb-accordion>
    </div>