.footer-background{
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%) !important;
    background-size: cover;
    background-repeat: no-repeat;
}

.footer-logo{
    width: 250px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%) !important;
}


.footer-map-container{
    background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%) !important;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px !important;
    padding:2px !important;
    border-radius: 5px !important;
}

.footer-button-more-blue{
    width: 100px !important;
    color: black !important;
    background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%) !important;
    height: 45px !important;
    border-radius: 10px 10px;
    align-items: center !important;
    padding: 10px  !important;
    margin-right: 5px;
    text-decoration: none;
}
.footer-button-more-blue:hover{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px !important;
}



