<div class="container-fluid footer-background">
    <div class="container">
        <!-- footer main -->
        <div class="row py-4">
            <!-- Right section of Footer -->
            <div class="col-12 col-md-4 ">
                <div class="row">
                    <div class="col-12 mb-3">
                        <img class="footer-logo" src="assets/logo-imam-persian.png" alt="">
                    </div>
                    <div class="col-12 text-justify ">
                        <p>
                            {{"aboutfooter"|translate}}
                        </p>
                    </div>
                    <div class="col12">
                        <div class="footer-button-more-blue d-flex justify-content-around  align-items-center">
                            <a class="nav-link d-flex justify-content-around  align-items-center " routerLink="#">
                                <p class="text-dark mt-3 mx-1">{{"donate"|translate}}</p>
                                <i class="fas fa-hand-holding-heart  text-dark "></i>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
            <!-- ceneter section of footer -->
            <div class="col-12 col-md-4">
                <div class="row p-3">
                    <div class="col-12 my-2">
                        <h6> آدرس :</h6>

                    </div>
                    <div class="col-12 border-bottom" style="direction: ltr;">
                        <p>
                            No. 120 Bermondsey Rd., Eglinton Ave. E,Toronto, Ontario, M4A 1X5
                        </p>
                    </div>
                    <div class="col-12 my-2">
                        <div class="row border-bottom">
                            <div class="col-6">
                                <h6>{{"modirfooter"|translate}}</h6>
                            </div>
                            <div class="col-6" style="direction: ltr;">416-836-9222</div>
                        </div>
                    </div>
                    <div class="col-12 my-2">
                        <div class="row border-bottom">
                            <div class="col-6">
                                <h6>{{"funral"|translate}}</h6>
                            </div>
                            <div class="col-6" style="direction: ltr;">416-918-6950</div>
                        </div>
                    </div>

                    <div class="col-12 my-2">
                        <div class="row border-bottom">
                            <div class="col-6">
                                <h6>{{"amenemo"|translate}}</h6>
                            </div>
                            <div class="col-6" style="direction: ltr;">416-473-4254</div>
                        </div>

                    </div>

                    <div class="col-12 my-2">
                        <div class="row border-bottom">
                            <div class="col-6">
                                <h6>{{"email"|translate}}</h6>
                            </div>
                            <div class="col-6" style="direction: ltr;">info@imamali.ca</div>
                        </div>
                    </div>
                    <div class="col-12 mt-4">
                        <div class="row">
                            <div class="col-auto">
                                <div class="row ">
                                    <div class="col">
                                        <a routerLink="" class="text-dark p-2">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    </div>
                                    <div class="col">
                                        <a routerLink="" class="text-dark p-2">
                                            <i class="fab fa-telegram"></i>
                                        </a>
                                    </div>
                                    <div class="col">
                                        <a routerLink="" class="text-dark p-2">
                                            <i class="fab fa-facebook"></i>
                                        </a>

                                    </div>
                                    <div class="col">
                                        <a routerLink="" class="text-dark p-2">
                                            <i class="fab fa-youtube"></i>
                                        </a>
                                    </div>
                                    <div class="col">
                                        <a routerLink="" class="text-dark p-2">
                                            <i class="fas fa-envelope"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col"></div>
                        </div>
                    </div>
                </div>



            </div>
            <!-- left section Footer include map -->
            <div class="col-12 col-md-4  footer-map-container">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2883.6553233166296!2d-79.31663758465595!3d43.717711579119076!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d4cdb796937aa1%3A0x4557fafb59ea3f73!2s120%20Bermondsey%20Rd%2C%20North%20York%2C%20ON%20M4A%201X5%2C%20Canada!5e0!3m2!1sen!2sde!4v1643373949676!5m2!1sen!2sde"
                    width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
        <!-- bottom of footer  -->
        <div class="row py-3 justify-content-between">
            <div class="col-4 justify-content-end">
                <p style="direction: ltr; font-size: 12px;" class="justify-content-end">
                    Copyright© 2020. All Rights Reserved Islamic Iranian Centre of Imam Ali.
                    Privacy Policy
                </p>
            </div>
            <div class="col-4 text-right">
                <p style="direction: ltr; font-size: 12px;" class="text-right">
                    62845 NO . of this
                </p>
            </div>
        </div>
    </div>
</div>