<div class="container-fluid   site-wrapper mb-md-3 eslami-img">
    <div class="container">
        <div class="row">
            <div class="col-12" style="margin-top:100px;">
                <div class="row">
                    <div class="col"></div>
                    <div class="col-5 text-center">
                        <h1 class="about-text-1">{{"biography"|translate}}</h1>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
            <div class="col-12 mt-2">
                <div class="row">
                    <div class="col"></div>
                    <div class="col-4 text-center about-card pt-2 ">
                        <div class="row d-flex justify-content-around">
                            <div class="col-auto ms-2">
                                <a class="text-decoration-none" href="">
                                    <i class="fas fa-home"></i>
                                    {{"home"|translate}}
                                </a>
                            </div>
                            <div class="col">
                                <i class="fas fa-angle-double-right"></i>
                            </div>
                            <div class="col-auto">{{"biography"|translate}}</div>
                        </div>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="item-page container pb-3" itemscope="" itemtype="https://schema.org/Article">

    <!-- Article -->
    <article itemscope="" itemtype="http://schema.org/Article">

        <header class="article-header clearfix">
            <h1 class="article-title" itemprop="headline">
                <a href="/fa/biography-1" itemprop="url" title="زندگینامه">
                    {{"biography"|translate}}</a>
            </h1>

        </header>



        <!-- Aside -->
        <!-- // Aside -->


        <!-- Item tags -->
        <!-- // Item tags -->





        <section class="article-content clearfix" itemprop="articleBody">
            <p><span style="font-weight: 400;"><b>{{"drmosavisummary"|translate}}</b></span></p>
            <div class="row">
                <div class="col-sm-4">
                    <figure><img style="margin-bottom: -3px;" src="../../../assets/images/Biography-drseyedmuhammad.jpg"
                            width="100%" height="auto">
                        <p>{{"drseyedkazem"|translate}}</p>
                    </figure>
                </div>
                <div class="col-sm-8">
                    <p><span style="font-weight: 400;">
                            {{"drseeydkazemfirstparagraph"|translate}}.</span></p>
                    <p>
                        <!-- <span style="font-weight: 400;">
                            {{"drseeydkazemfirstparagraph2"|translate}}دکتر سید محمد کاظم مصباح موسوی پس از سالها تحصیل و تحقیق در حوزه
                            علمیه قم به هدف ادامه تحصیلات در رشته فلسفه در دانشگاه مک گیل به مونترال عزیمت نمود و پس از
                            اخذ مدرک دکترا بنا به دعوت بعضی از هموطنان به منظور احیا و گسترش فعالیتهای دینی , فرهنگی و
                            اجتماعی به شهر تورنتو نقل مکان نمود.</span> -->
                            <span
                            style="font-weight: 400;"><br></span><span style="font-weight: 400;">{{"drseyedresume"|translate}}</span></p>
                </div>
            </div>
            <ul style="color: black;">
                <li style="font-weight: 400;"><span style="font-weight: 400;">{{"drseyedkazem1"|translate}}</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">{{"drseyedkazem2"|translate}}</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">{{"drseyedkazem3"|translate}}</span>
                </li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">{{"drseyedkazem4"|translate}}</span><span
                        style="font-weight: 400;"><br></span><span
                        style="font-weight: 400;">{{"drseyedkazem6"|translate}}</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">{{"drseyedkazem5"|translate}}</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">{{"drseyedkazem7"|translate}}</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">{{"drseyedkazem8"|translate}}</span>
                </li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">{{"drseyedkazem9"|translate}}</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">{{"drseyedkazem10"|translate}}</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">{{"drseyedkazem11"|translate}}</span></li>
                <!-- <li style="font-weight: 400;"><span style="font-weight: 400;">{{"drseyedkazem13"|translate}}</span> -->
                <!-- </li> -->
            </ul>
        </section>

        <mdb-accordion>
            <mdb-accordion-item>
                <ng-template mdbAccordionItemHeader>{{"drseyedkazem12"|translate}}</ng-template>
                <ng-template mdbAccordionItemBody>
                    <ul>
                        <li>{{"drbook1"|translate}}</li>
                        <li>{{"drbook2"|translate}}</li>
                        <li>{{"drbook3"|translate}}</li>
                        <li>{{"drbook4"|translate}}</li>
                        <li>{{"drbook5"|translate}}</li>
                        <li>{{"drbook6"|translate}}</li>
                        <li>{{"drbook7"|translate}}</li>
                        <li>{{"drbook8"|translate}}</li>
                        <li>{{"drbook9"|translate}}</li>
                        <li>{{"drbook10"|translate}}</li>
                        <li>{{"drbook11"|translate}}</li>
                        <li>{{"drbook12"|translate}}</li>
                        <li>{{"drbook13"|translate}}</li>
                        <li>{{"drbook14"|translate}}</li>
                        <li>{{"drbook15"|translate}}</li>
                        <li>{{"drbook16"|translate}}</li>
                        <li>{{"drbook17"|translate}}</li>
                        <li>{{"drbook18"|translate}}</li>
                        <li>{{"drbook19"|translate}}</li>
                        <li>{{"drbook20"|translate}}</li>
                        <li>{{"drbook21"|translate}}</li>
                        <!-- <li>{{"drbook22"|translate}}</li>
                        <li>{{"drbook23"|translate}}</li>
                        <li>{{"drbook24"|translate}}</li> -->
                        
                    </ul>
                </ng-template>
            </mdb-accordion-item>
        </mdb-accordion>
        <!-- Footer -->
        <!-- // Footer -->




    </article>
    <!-- //Article -->


</div>