<div class="container-fluid   site-wrapper mb-md-3 eslami-img">
    <div class="container">
        <div class="row">
            <div class="col-12" style="margin-top:100px;">
                <div class="row">
                    <div class="col text-center">
                        <h1 class="about-text-1">{{"services"|translate}}</h1>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-2">
                <div class="row">
                    <div class="col"></div>
                    <div class="col-4 text-center about-card pt-2 ">
                        <div class="row d-flex justify-content-around">
                            <div class="col-auto ms-2">
                                <a class="text-decoration-none" href="">
                                    <i class="fas fa-home"></i>
                                    {{"home"|translate}}
                                </a>
                            </div>
                            <div class="col">
                                <i class="fas fa-angle-double-right"></i>
                            </div>
                            <div class="col-auto">{{"services"|translate}}</div>
                        </div>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row pb-3 justify-content-start  justify-content-md-start">
    <!-- Title 1 -->
    <div class="col-12 ">
        <div class="home-title p-2 text-center" style="margin:auto;">
            <h1 class="text-title "> {{"OURSERVICES"|translate}}</h1>
        </div>
    </div>
</div>
<div class="container pb-3">
    <div class="row  justify-content-md-between ">
        <div class="col-12 col-md-4  ">
            <div class="card home-card" style="margin-top: 16px;">
                <img class="card-img-top" src="assets/home-picture/funeral-services.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{"FUNERALSERVICES"|translate}}</h5>
                    <p class="card-text pb-2">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                        طراحان گرافیک است</p>
                    <a routerLink="funeral" class="button-more">{{"moreknow"|translate}}</a>
                </div>
            </div>
        </div>
        <div class="w-100 d-md-none"></div>
        <div class="col-12 col-md-4 ">
            <div class="card home-card" style="margin-top: 16px;">
                <img class="card-img-top" src="assets/home-picture/marriage-services.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{"MATRIMONIALSERVICES"|translate}}</h5>
                    <p class="card-text pb-2">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                        طراحان گرافیک است</p>
                    <a routerLink="matrimonial" class="button-more">{{"moreknow"|translate}}</a>
                </div>
            </div>
        </div>
        <div class="w-100 d-md-none"></div>
        <div class="col-12 col-md-4  ">
            <div class="card home-card" style="margin-top: 16px;">
                <img class="card-img-top" src="assets/home-picture/counselling-services.jpg" alt="Card image cap">
                <div class="card-body ">
                    <h5 class="card-title">{{"COMMUNITYSERVICES"|translate}}</h5>
                    <p class="card-text pb-2 ">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                        طراحان گرافیک است</p>
                    <a routerLink="community" class="button-more ">{{"moreknow"|translate}}</a>
                </div>
            </div>
        </div>
    </div>
</div>