<div class="container-fluid   site-wrapper mb-md-3 eslami-img">
    <div class="container">
        <div class="row">
            <div class="col-12" style="margin-top:100px;">
                <div class="row">
                    <div class="col"></div>
                    <div class="col-5 text-center">
                        <h1 class="about-text-1">{{"donate"|translate}}</h1>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
            <div class="col-12 mt-2">
                <div class="row">
                    <div class="col"></div>
                    <div class="col-4 text-center about-card pt-2 ">
                        <div class="row d-flex justify-content-around">
                            <div class="col-auto ms-2">
                                <a class="text-decoration-none" href="">
                                    <i class="fas fa-home"></i>
                                    {{"home"|translate}}
                                </a>
                            </div>
                            <div class="col">
                                <i class="fas fa-angle-double-right"></i>
                            </div>
                            <div class="col-auto">{{"donate"|translate}}</div>
                        </div>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <h2>{{"donatehead"|translate}}</h2>
  <p>
     {{"donate1"|translate}}  
</p>
<br> 
<h4>{{"donatehead3"|translate}}</h4>
<p>
   {{"donate2"|translate}}  
</p>
<br>
<p>
    {{"donate3"|translate}}  
 </p>
 <br>
</div>