/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.site-wrapper{
    
        min-height: 350px;
        margin-top: 114px;
      
}

.eslami-img{
    background-image:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)), url('assets/home-picture/islamic-inner-header-bg.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:300px !important;
    /* filter:drop-shadow(8px 8px 10px rgb(168, 167, 167));
    filter:opacity(70%); */
   
} 

.about-text-1{
    font-weight: bold;
    color: #fff;
    font-size: 45px;
}

.about-card{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px !important;
    border-radius: 10px !important;
    width: 250px !important;
    height: 40px;
    text-align: center;
    background-color: #fff;
}
.accordion-button:not(.collapsed)::after , .accordion-button::after{
    background-image: none !important;
}

.accordion-button{
    background-color: rgb(232, 248, 248) !important; 
}
.about-card-2{
    // width: 300px !important;
    min-height: 500px !important;
    text-align: center !important;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px !important;
    border-radius: 10px !important;

}

.about-circle-2{
    border: #c2bbbb solid 3px;
    background-color:#fff;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex; /* or inline-flex */
    align-items: center; 
    justify-content: center;
    text-decoration: none !important;
    transition: all  0.5s;
}
.about-circle-2:hover{
    background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%) !important;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px !important;
    height: 80px !important;
    width: 80px !important;
    border: none !important;
}

.about-circle-text{
    font-size: 18px !important;
}

.contact-map-container{
    background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%) !important;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px !important;
    padding:2px !important;
    height: 400px;
    width: 100% !important;
    border-radius: 5px !important;
}

.contact-img-1{
    width: 100% !important;
}

