    <div class="container  site-wrapper">
        <!-- first section -title with cards -->
        <div class="row pb-3 justify-content-start  justify-content-md-start">
            <!-- Title 1 -->
            <div class="col-12 " >
                <div class="home-title p-2 text-center" style="margin:auto;">
                    <h1 class="text-title "  >خدمات مرکز</h1>
                </div>
            </div>
        </div>    
            <!-- cards(3) -->
            
        <div class="row  justify-content-md-between ">
            <div class="col-12 col-md-4  ">
                <div class="card home-card" style="height: 470px;margin-top: 16px;">
                    <img class="card-img-top" src="assets/home-picture/funeral-services.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">خدمات فیونرال ومتوفیات</h5>
                        <p class="card-text pb-2">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
                        <a routerLink="#" class="button-more">اطلاعات بیشتر</a>
                    </div>
                    </div>
            </div>
            <div class="w-100 d-md-none"></div>
            <div class="col-12 col-md-4 ">
                <div class="card home-card" style="height: 470px;margin-top: 16px;">
                    <img class="card-img-top" src="assets/home-picture/marriage-services.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">عقد و عروسی</h5>
                        <p class="card-text pb-2">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
                        <a routerLink="#" class="button-more">اطلاعات بیشتر</a>
                    </div>
                    </div>
            </div>
            <div class="w-100 d-md-none"></div>
                <div class="col-12 col-md-4  ">
                    <div class="card home-card" style="height: 470px;margin-top: 16px;">
                        <img class="card-img-top" src="assets/home-picture/counselling-services.jpg" alt="Card image cap">
                        <div class="card-body ">
                        <h5 class="card-title">خدمات اجتماعی</h5>
                        <p class="card-text pb-2 ">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
                        <a routerLink="#" class="button-more ">اطلاعات بیشتر</a>
                        </div>
                    </div>
                </div>
            </div>
        <!-- section 2 -->
        <!-- رویداد ها  -->
            <hr style="margin-top: 100px;" >

            <div class="row justify-content-between">
                <div class="col-12 col-md-5 ">
                    <div class="row">
                        <div class="col-12">
                            <div class="home-title-2  text-center mt-3">
                                <h1 class="text-title" >کمک به مرکز</h1>
                            </div>
                        </div>
                        <div class="col-12 mt-2">
                            <div class="section2-sharei">
                                اوقات شرعی
                            </div>
                        </div>
                        <div class="col-12">
                            <p class="mt-3 ">
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
                            </p>
                        </div>
                      </div>
                </div>


                <div class="col-12 col-md-6">
                    <div class="row">
                        <div class="col-12 ">
                            <div class="home-title-2  text-center mt-3">
                                <h1 class="text-title" >رویداد های آتی</h1>
                            </div>
                        </div>
                        <div class="col-12 mt-2">
                            <div class="img-container-2">
                                <img class="Quran-img" src="assets/home-picture/event.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-12">
                            <p class="mt-3 ">
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
                            </p>
                            <a class="button-more">اطلاعات بیشتر</a>
                        </div>
                      </div>
                </div>
            </div>  
    </div>

    <br>
<!-- section 3 background img with card ------------------------>       
    <div class="container-fluid  my-5 medina-img">
        <div class="row">
            <div class="col-12 col-md-4"></div>
            <div class="col-12 col-md-4"></div>
            <div class="col-12 col-md-4 pt-5">
                <div class="contrainer p-4 card-3">
                    <div class="row ">
                        <div class="col-12 card-3-item-glass-header pt-2 py-2">
                            <h5>سیستم اعتقادی شیعه</h5>
                        </div>
                        <div class="col-12 pt-3 card-3-item-glass">
                            <h6>جایگاه امامت کجاست؟</h6>
                        </div>
                        <div class="col-12 pt-3 card-3-item-glass">
                            <h6>زیارت به چه معناست؟</h6>
                        </div>
                        <div class="col-12 pt-3 card-3-item-glass">
                            <h6>لعن به چه معناست؟</h6>
                        </div>
                        <div class="col-12 pt-3 card-3-item-glass">
                            <h6>و دهها سوال دیگر از این دست</h6>
                        </div>
                        <div class="col-12 mt-4">
                            <a routerLink="#" class="button-more-blue">بیشتر ببینید </a>
                        </div>
                      </div>
                </div>
            </div>
          </div>
    </div>
    <br>
<!-------- section 4 ------------------->        
    <div class="container ">
        <div class="row justify-content-between mt-3">
            <div class="col-12 col-md-5 border-bottom">
                <div class="row">
                    <div class="col-12">
                        <div class="home-title-2  text-center">
                            <h1 class="text-title" >درباره مرکز</h1>
                        </div>
                    </div>
                    <!-- person picture -->
                    <div class="col-12">
                        <div class="row">
                            <div class="col">
                            </div>
                            <div class="col-10">
                                <div class="img-container-4  mt-2">
                                    <img class="person-img" src="assets/home-picture/Dr_Mesbah_Moosavi.jpg" alt="">
                                </div>
                            </div>
                            <div class="col">
                            </div>
                          </div>    
                    </div>
                    <!-- person_Title -->
                    <div class="col-12 mt-3 ">
                        <div class="row">
                            <div class="col">
                              
                            </div>
                            <div class="col-10 text-center">
                                <h6>
                                    دکتر سید محمد کاظم مصباح موسوی
                                </h6>
                            </div>
                            <div class="col">
                              
                            </div>
                          </div>
                    </div>
                    <div class="col-12 mt-1">
                        <p>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                        </p>
                    </div>
                    <!-- button -->
                    <div class="col-12 my-2 mb-4 ps-0">
                        <a class="button-section-4 border-bottom   glass-1" routerLink="">مطالعه ی بیشتر </a>
                        <a class="button-section-4 border-bottom ms-3  glass-1" routerLink="">زندگی نامه </a>
                        <a class=" button-section-4 border-bottom ms-3  glass-1" routerLink="">مقالات  </a>
                    </div>
                  </div>
            </div>
            <!-- section-4-left -->
            <div class="col-12 col-md-5 border-bottom mt-3 mt-md-0 ">
                <div class="row">
                    <div class="col-12 ps-0">
                        <div class="home-title-2  text-center">
                            <h1 class="text-title" >یادگیری اسلام</h1>
                        </div>
                    </div>
                    <div class="col-12 my-4 mb-4 ps-0">
                        <a class="button-section-4 border-bottom   glass-1" routerLink="">مطالعه ی بیشتر </a>
                        <a class="button-section-4 border-bottom ms-3  glass-1" routerLink="">زندگی نامه </a>
                        <a class=" button-section-4 border-bottom ms-3  glass-1" routerLink="">مقالات  </a>
                    </div>
                    <!-- music pleayer -->
                    <div class="col-12 music-container">
                        <div class="myplayer ply">
                            <div class="myplayer__controls ">
                                <div class="controls__progressbar">
                                    <input class="controls__progressbar-current" type="range" min="1" max="100" step="1" value="0" >
                                </div>
                            
                                <div class="controls__btns">
                                    <div class="left">
                                        <div class="btns play">
                                            <!-- <i class="icon ion-md-play"></i> -->
                                            <i class="fas fa-play"></i>
                                        </div>
                                        <div class="btns rewind">
                                            <i class="fas fa-backward"></i>
                                        </div>
                                        <div class="btns forward">
                                            <i class="fas fa-forward"></i>
                                        </div>
                                        <div class="timer">
                                            <span class="currentTime">00:00</span>
                                            <span>/</span>
                                            <span class="videoTime" >00:00</span>
                                        </div>
                                    </div>
                                    <div class="right">
                                        <div class="btns volume">
                                            <i class="fas fa-volume"></i>
                                            <div class="volume__progress">
                                                <input id="volume_bar" type="range" min="1" max="100" step="1" value="50" >
                                            </div>
                                        </div>
                                        <div class="btns fullscreen">
                                            <i class="fas fa-expand"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-3">
                        <div class="row">
                            <div class="col ">1</div>
                            <div class="col-11 px-0  border-bottom">تفسیر-سوره عنکبوت آیه 2 و3.mp3</div>
                            <div class="w-100 mb-2"></div>
                            <div class="col ">2</div>
                            <div class="col-11 px-0  border-bottom">تفسیر-سوره عنکبوت آیه 21.mp3</div>
                            <div class="w-100 mb-2"></div>
                            <div class="col ">3</div>
                            <div class="col-11 px-0  border-bottom">تفسیر-سوره عنکبوت آیه 22.mp3</div>
                            <div class="w-100 mb-2"></div>
                            <div class="col ">4</div>
                            <div class="col-11 px-0 border-bottom ">تفسیر-سوره عنکبوت آیه 4.mp3</div>
                            <div class="w-100 mb-2"></div>
                            <div class="section-4-button p-3">
                                <a class=" button-section-4 border-bottom ms-3  glass-1" routerLink="">  بیشتر گوش کنید</a>
                               
                            </div>                              

                        </div>
                    </div>
                    <div class="col-12">
                        <div class="youtube">
                            you tube
                        </div>
                    </div>

                </div>
            </div>
          </div>
    </div>
    <br>
<!-- section 5 (last section) ---------------->       
    <div class="container-fluid  my-5 jungle-img">
        <div class="container">
            <div class="row ">
              <div class="col-12 text-center mt-5 d-flex justify-content-center">
                  <h5 class=" home-bg-light-title" >پیوندهای مفید</h5>
              </div>
              <div class="col-12 text-center mt-3 d-flex justify-content-center">
                  <h6 class="home-bg-light-text" >برای یادگیری مطالب روی لینک ها کلیک کنید</h6>
              </div>
              <div class="col-12 mt-5 mb-2">
                <div class="row">
                    <div class="col d-flex justify-content-center mb-3 mb-md-0 ">
                        <div class="link-container circle-link-4 text-center">
                            <a class="text-center text-decoration-none  cirlce-link-text" routerLink="">
                                قبله یاب
                            </a>
                        </div>
                    </div>
                    <div class="col text-center d-flex justify-content-center mb-3 mb-md-0">
                        <div class="link-container circle-link-4">
                            <a class="text-center  text-decoration-none cirlce-link-text" routerLink="">
                                دعا
                            </a>
                        </div>
                    </div>
                    <div class="w-100 d-md-none"></div>
                    <div class="col text-center d-flex justify-content-center mb-2">
                        <div class="link-container circle-link-4">
                            <a class="text-center text-decoration-none cirlce-link-text" routerLink="">
                                مجله هدی
                            </a>
                        </div>
                    </div>
                    <div class="col text-center d-flex justify-content-center">
                        <div class="link-container circle-link-4">
                            <a class="text-center text-decoration-none  cirlce-link-text" routerLink="">احکام</a>
                        </div>
                    </div>
                     <div class="w-100 d-md-none"></div>
                    <div class="col text-center d-flex justify-content-center">
                        <div class="link-container circle-link-4">
                            <a class="text-center text-decoration-none  cirlce-link-text" routerLink="">تلاوت</a>
                        </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>

    </div>